<div class="container education-section">
  <h2 class="text-center mb-5">Mon Parcours Éducatif</h2>

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10" *ngFor="let edu of education">
      <div class="card mb-4 shadow-sm">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <!-- Utiliser une classe supplémentaire pour gérer la taille de l'image -->
            <img [src]="edu.img" class="img-fluid rounded-start education-img" alt="{{ edu.name }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ edu.name }}</h5>
              <p class="card-text"><strong>Spécialités :</strong> {{ edu.specialities }}</p>
              <p class="card-text">
                <strong>Période :</strong> {{ formatDate(edu.start) }} - {{ isOngoing(edu.end) }}<br>
                <strong>Lieu :</strong> {{ edu.location }}
              </p>
              <p class="card-text">{{ edu.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
