# Application Configuration
APP_NAME=MyPortfolio
APP_ENV=production
APP_DEBUG=false

# Database Configuration
# Options: pgsql, mysql, sqlite
DB_CONNECTION=sqlite

# For SQLite
DB_FILE=database/portfolio.sqlite

# For PostgreSQL / MariaDB
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=portfolio_db
DB_USERNAME=portfolio_admin
DB_PASSWORD=portfolio_secure_pass

# Mail Configuration (Example)
MAIL_HOST=mail.luxferre-code.fr
MAIL_PORT=465
MAIL_USERNAME=portfolio@luxferre-code.fr
MAIL_PASSWORD=?!jQtTMwO1!,RKGu
MAIL_FROM_ADDRESS=portfolio@luxferre-code.fr
MAIL_FROM_NAME="Portfolio de Valentin THUILLIER"
