<div class="container">
    <h2 class="text-center mb-4">Mes Projets</h2>

    <div class="row">
        <div class="col-md-4" *ngFor="let project of projects">
            <div class="card mb-4 text-center project-card" (click)="openProject(project)">
                <img [src]="project.image" alt="{{ project.title }}" class="card-img-top project-image">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pour les détails du projet -->
    <div *ngIf="selectedProject" class="modal-overlay" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <h3>{{ selectedProject.title }}</h3>
            <p>{{ selectedProject.description }}</p>
            <p><strong>Technologies :</strong> {{ selectedProject.technologies.join(', ') }}</p>
            <a [href]="selectedProject.link" target="_blank" class="btn btn-primary">Voir sur GitHub</a>
            <button class="btn btn-secondary mt-3" (click)="closeModal()">Fermer</button>
        </div>
    </div>
</div>
