RewriteEngine On

# Redirect to public directory if accessed from root
# RewriteCond %{REQUEST_URI} !^/public/
# RewriteRule ^(.*)$ public/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
