<div class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" routerLink="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/about">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/skills">Compétences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/projects">Projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/education">Éducation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/experiences">Expériences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="flex-fill">
      <router-outlet></router-outlet>
  </div>

    <footer class="bg-dark text-white text-center py-3">
    <div class="container">
      <p class="mb-0">Valentin THUILLIER - {{ year }}</p>
      <p class="mb-0"><small>&copy; Tous droits réservés.</small></p>
    </div>
  </footer>


</div>
