<div class="container-fluid p-0 text-center position-relative text-white" style="height: 100vh; background-image: url('/assets/background.jpeg'); background-size: cover; background-attachment: fixed; background-position: center; display: flex; justify-content: center; align-items: center; overflow: hidden;">
  <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); z-index: 1; backdrop-filter: blur(10px); animation: blurIn 1.5s forwards;"></div>
  <div class="content position-relative" style="z-index: 2; text-align: center;">
    <h1 class="display-3 fw-bold" style="text-transform: uppercase; text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);">{{ firstName }} {{ lastName }}</h1>
      <p class="lead" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);">Développeur passionné par la création de solutions rapides et efficaces.</p>
    <p class="lead" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);">Et Sapeur-Pompier volontaire</p>
    <p class="lead" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);">Comme un pompier, je développe avec rigueur et précision.</p>
    <a href="/about" class="btn btn-outline-light btn-lg mt-3">En savoir plus ?</a>
  </div>
</div>
